.icon-logo {
  display: inline-block;
  vertical-align: middle;
  width: 2.6rem;
  height: 0.6rem;
  background-image: url(../assets/sprite/sprite.png);
  background-size: 5.14rem 4.42rem;
  background-position: 0rem -3.82rem;
}

.icon-ma2 {
  display: inline-block;
  vertical-align: middle;
  width: 1.45rem;
  height: 1.45rem;
  background-image: url(../assets/sprite/sprite.png);
  background-size: 5.14rem 4.42rem;
  background-position: -2.54rem -1.9rem;
}

.icon-ad1 {
  display: inline-block;
  vertical-align: middle;
  width: 2.52rem;
  height: 1.8rem;
  background-image: url(../assets/sprite/sprite.png);
  background-size: 5.14rem 4.42rem;
  background-position: 0rem 0rem;
}

.icon-ad2 {
  display: inline-block;
  vertical-align: middle;
  width: 2.52rem;
  height: 1.8rem;
  background-image: url(../assets/sprite/sprite.png);
  background-size: 5.14rem 4.42rem;
  background-position: -2.62rem 0rem;
}

.icon-banner02 {
  display: inline-block;
  vertical-align: middle;
  width: 2rem;
  height: 0.6rem;
  background-image: url(../assets/sprite/sprite.png);
  background-size: 5.14rem 4.42rem;
  background-position: -2.7rem -3.82rem;
}

.icon-cp-hover {
  display: inline-block;
  vertical-align: middle;
  width: 2.44rem;
  height: 1.82rem;
  background-image: url(../assets/sprite/sprite.png);
  background-size: 5.14rem 4.42rem;
  background-position: 0rem -1.9rem;
}